### Data Cleaning Project

In [27]:
import seaborn as sns
import pandas as pd
import numpy as np

print(sns.__version__)
print(pd.__version__)
print(np.__version__)

0.13.2
2.2.3
2.2.6

In [28]:
''' 
planets data load from seaborn builting dataset
'''
sns.get_dataset_names()
Planets_dataset=sns.load_dataset(
    'planets'
)

Planets_dataset.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [29]:
''' Dataset Information check  '''

Planets_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [30]:
mask=Planets_dataset['orbital_period'].isnull()
Planets_dataset[mask]

                         method  number  orbital_period  mass  distance  year
29                      Imaging       1             NaN   NaN     45.52  2005
30                      Imaging       1             NaN   NaN    165.00  2007
31                      Imaging       1             NaN   NaN    140.00  2004
33                      Imaging       1             NaN   NaN       NaN  2008
34                      Imaging       1             NaN   NaN    145.00  2013
35                      Imaging       1             NaN   NaN    139.00  2004
36                      Imaging       1             NaN   NaN     18.39  2006
54                      Imaging       1             NaN   NaN     52.03  2012
69                      Imaging       1             NaN   NaN    145.00  2008
70                      Imaging       1             NaN   NaN     36.00  2013
71                      Imaging       1             NaN   NaN    140.00  2010
73                      Imaging       1             NaN   NaN     52.40  2004
90                      Imaging       1             NaN   NaN       NaN  2006
124                     Imaging       1             NaN   NaN     17.95  2013
150                     Imaging       1             NaN   NaN    145.00  2010
392                     Imaging       1             NaN   NaN     91.57  2013
423                     Imaging       1             NaN   NaN     91.83  2013
577                     Imaging       1             NaN   NaN     40.85  2006
635                     Imaging       1             NaN   NaN     11.43  2010
639                     Imaging       1             NaN   NaN    131.93  2010
749   Transit Timing Variations       3             NaN   NaN       NaN  2014
902                Microlensing       1             NaN   NaN       NaN  2008
903                Microlensing       1             NaN   NaN       NaN  2008
904                Microlensing       1             NaN   NaN       NaN  2009
905                Microlensing       1             NaN   NaN   3600.00  2013
907                Microlensing       1             NaN   NaN       NaN  2010
909                Microlensing       1             NaN   NaN   2300.00  2012
910                Microlensing       1             NaN   NaN   2800.00  2012
911                Microlensing       1             NaN   NaN   7720.00  2012
912                Microlensing       1             NaN   NaN   7560.00  2013
917                Microlensing       1             NaN   NaN       NaN  2004
923                Microlensing       1             NaN   NaN       NaN  2009
924                Microlensing       1             NaN   NaN   2570.00  2012
925                Microlensing       2             NaN   NaN   4080.00  2012
926                Microlensing       2             NaN   NaN   4080.00  2012
927                Microlensing       1             NaN   NaN   1760.00  2013
928                Microlensing       1             NaN   NaN   4970.00  2013
948                     Imaging       1             NaN   NaN    135.00  2013
949                     Imaging       1             NaN   NaN    120.00  2013
950                     Imaging       1             NaN   NaN       NaN  2010
957                     Imaging       1             NaN   NaN       NaN  2008
1027                    Imaging       1             NaN   NaN     19.20  2011
1029                    Imaging       1             NaN   NaN     10.10  2012

In [31]:
average_orbital_period=Planets_dataset['orbital_period'].mean()
average_orbital_period

np.float64(2002.9175960947582)

In [32]:
Planets_dataset['orbital_period'] = Planets_dataset['orbital_period'].fillna(
    value=average_orbital_period
)

In [34]:
Planets_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  1035 non-null   float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [36]:
Planets_dataset.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [38]:
average_mass=Planets_dataset['mass'].mean()
average_mass

np.float64(2.6381605847953216)

In [39]:
Planets_dataset['mass'] = Planets_dataset['mass'].fillna(
    value=average_mass
)

In [41]:
Planets_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  1035 non-null   float64
 3   mass            1035 non-null   float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [44]:
average_distance  = Planets_dataset['distance'].mean()
average_distance

np.float64(264.06928217821786)

In [46]:
Planets_dataset['distance'] = Planets_dataset['distance'].fillna(
    value=average_distance
)

In [48]:
Planets_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  1035 non-null   float64
 3   mass            1035 non-null   float64
 4   distance        1035 non-null   float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

### Clean Duplicated

In [51]:
mask = Planets_dataset.duplicated()
mask.value_counts()

False    1031
True        4
Name: count, dtype: int64

In [52]:
Planets_dataset = Planets_dataset.drop_duplicates()

In [55]:
Planets_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1031 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1031 non-null   object
 1   number          1031 non-null   int64
 2   orbital_period  1031 non-null   float64
 3   mass            1031 non-null   float64
 4   distance        1031 non-null   float64
 5   year            1031 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 56.4+ KB

In [80]:
''' Outlyer Function '''

def iqr(item):
    Q1 = item.quantile(0.25)
    Q3 = item.quantile(0.75) 
    IQR = Q3 - Q1
    L = Q1 - 1.5 * IQR
    U = Q3 + 1.5  * IQR
    non_outlyer=item.between(L,U)
    return Planets_dataset[non_outlyer]
        
    

iqr(Planets_dataset['distance'])

               method  number  orbital_period       mass  distance  year
0     Radial Velocity       1      269.300000   7.100000     77.40  2006
1     Radial Velocity       1      874.774000   2.210000     56.95  2008
2     Radial Velocity       1      763.000000   2.600000     19.84  2011
3     Radial Velocity       1      326.030000  19.400000    110.62  2007
4     Radial Velocity       1      516.220000  10.500000    119.47  2009
...               ...     ...             ...        ...       ...   ...
1030          Transit       1        3.941507   2.638161    172.00  2006
1031          Transit       1        2.615864   2.638161    148.00  2007
1032          Transit       1        3.191524   2.638161    174.00  2007
1033          Transit       1        4.125083   2.638161    293.00  2008
1034          Transit       1        4.187757   2.638161    260.00  2008

[952 rows x 6 columns]

7.1
2.21
2.6
19.4
10.5
4.8
4.64
2.6381605847953216
10.3
1.99
0.86
9.88
3.88
2.53
0.54
1.64
0.472
0.8
0.165
3.53
2.6381605847953216
0.172
0.016
0.057
0.072
2.6381605847953216
2.6381605847953216
5.3
3.2
2.6381605847953216
2.6381605847953216
2.6381605847953216
6.05
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
4.2
2.6381605847953216
2.6381605847953216
1.8
0.0036
2.6381605847953216
1.55
2.6381605847953216
7.6
8.78
1.85
2.6381605847953216
2.6381605847953216
2.8
2.6381605847953216
2.6381605847953216
1.7
2.6381605847953216
2.6381605847953216
1.04
3.9
20.6
0.6876
1.981
4.132
1.059
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
5.1
10.6
2.6381605847953216
0.045
0.33
0.027
0.17
1.47
1.11
21.42
12.47
2.6381605847953216
0.91
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
3.91
0.035
0.024
0.079
0.82
1.894
1.6
2.3
0.018
2.6381605847953216
2.6381605847953216
0.049
0.017
0.022
0.006
0.328
0.018
0.012
0.016
0.008
0.008
0.014
0.035
4.95
0.014
0.036
0.64
0.91
2.2756
0.7142
0.021
0.046
2.6381605847953216
3.37
2.6381605847953216
0.022
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
15.2
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
3.4
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
3.4
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
1.25
5.3
0.024
0.0186
3.1
6.1
4.9
0.48
1.6
0.229
1.56
0.8
0.0405
2.07
2.3
2.37
2.37
1.94
1.96
2.6381605847953216
7.6
0.48
1.65
0.29
1.11
2.0
0.029
0.63
1.8
14.2
0.7
1.82
0.041
0.038
0.08
0.074
0.067
0.205
0.94
6.21
3.44
0.82
6.54
0.622
0.0788
2.3
1.92
14.0
0.0325
0.036
0.865
5.13
1.88
0.26
0.0696
4.4
14.3
4.6
2.6381605847953216
2.7
1.37
0.0378
0.0422
1.07
0.0085
0.00755
0.0151
0.0379
0.0496
1.9
1.99
0.0322
0.06472
1.5
2.61
13.65
7.71
4.01
0.95
1.28
1.45
0.62
1.16
5.59
1.7
9.17
1.373
1.8
0.5
0.0363
0.0498
0.0519
1.3
0.33
3.04
0.79
9.1
2.6381605847953216
0.61
0.683
0.624
10.35
2.3
3.366
0.0117
0.0187
0.0162
0.839
13.38
10.7
0.0961
0.0126
0.0208
0.0299
0.011
0.0164
0.0223
4.01
2.54
18.37
0.039
0.027
0.6
25.0
2.49
0.58
0.04
0.1872
0.6579
1.79
0.47
0.249
0.07167
0.35061
5.0
7.0
1.16
0.115
1.71
4.9
0.0413
0.0565
1.13
5.25
3.1548
7.4634
0.38
2.9
0.64
1.26
0.17
6.0
2.82
1.9
0.033
0.038
0.058
6.1
2.0
3.15
3.06
1.87
2.25
2.25
1.15
1.8
8.06
0.396
0.42
2.51
0.197
2.6381605847953216
1.34
2.6381605847953216
6.86
2.7
2.6381605847953216
2.6381605847953216
1.3
0.4
0.132
0.01133
1.5
0.92
7.0
1.78
0.22
1.78
8.44
0.057
3.86
0.37
0.0263
0.0318
2.6381605847953216
1.2
0.9
0.68
4.0
0.0284
0.04
0.026
1.8
6.8
0.502
0.087
0.36
1.4
1.7
1.16
0.3
0.172
0.45
5.9
2.6
0.05
5.9
0.96
0.098
0.367
0.186
8.3
6.92
11.0
9.61
2.6381605847953216
0.21
0.261
2.6
1.29
0.99
0.77
0.054
0.076
0.28
11.09
6.8
2.83
0.27
0.71
1.24
2.6381605847953216
0.48
11.68
1.1
0.95
2.1
1.88
0.178
2.13
4.5
1.22
3.71
3.0
0.058
7.2
0.041
0.38
0.224
1.45
3.24
1.6
1.04
2.2
18.15
5.61
1.49
0.0351
0.1507
1.59
0.82
0.0292
0.0382
0.121
2.0
0.0166
0.0358
0.03
0.223
9.76
9.7
5.1
1.9
1.62
3.12
2.9
5.76
2.12
6.56
1.21
0.85
0.96
2.6381605847953216
1.33
15.5
0.168
3.0
1.5
2.73
0.0193
0.947
5.02
2.24
2.58
0.85
0.82
9.71
0.75
0.013
10.57
0.12
1.8
1.13
1.9
2.1
0.73
2.6381605847953216
1.814
2.6381605847953216
2.6381605847953216
14.4
0.77
2.29
0.48
2.7
0.36
3.53
1.7
8.02
18.1
0.23
2.88
4.04
0.67
1.83
2.6
2.7
7.8
0.61
2.6381605847953216
1.49
0.15
7.03
0.08
0.95
2.6381605847953216
1.6
3.3
0.0238
0.64
0.54
0.37
3.69
3.82
0.94
0.75
0.52
1.99
1.26
0.0316
2.6381605847953216
5.93
1.502
0.057
1.9
3.1
0.72
0.05318
0.07552
2.5
3.7
3.0
6.9
2.58
0.79
1.85
0.895
17.4
2.44
2.6381605847953216
4.05
0.054
1.68
0.266
1.37
2.2
2.6381605847953216
2.6381605847953216
0.45
9.9
2.6381605847953216
1.23
2.6381605847953216
0.45
2.3
4.5
0.0087
0.0097
0.101
0.246
0.017
0.33
1.26
2.1
0.65
1.39
2.6
13.0
0.21
10.39
2.6381605847953216
0.06
11.1
1.06
1.45
3.09
1.9
7.75
0.71
1.08
6.575
6.9
5.3
2.54
0.0265
0.76
1.42
2.6381605847953216
0.47
1.25
3.88
1.28
0.57
0.298
0.036
0.41
0.527
2.6381605847953216
9.18
9.0
8.82
2.6381605847953216
2.1
1.068
1.94
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
1.47
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
0.947
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
19.8
0.34
0.4
1.54
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216
2.6381605847953216

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009